02-using_r_markdown.nb.html
03-categorical_data.nb.html
04-numerical_data.nb.html
05-manipulating_data.nb.html
06-correlation.nb.html
07-regression.nb.html
08-intro_to_randomization_1.nb.html
09-intro_to_randomization_2.nb.html
10-hypothesis_testing_with_randomization_1.nb.html
11-hypothesis_testing_with_randomization_2.nb.html
12-confidence_intervals.nb.html
13-normal_models.nb.html
14-sampling_distribution_models.nb.html
15-inference_for_one_proportion.nb.html
16-inference_for_two_proportions.nb.html
17-chi_square_goodness_of_fit.nb.html
18-chi_square_test_for_independence.nb.html
19-inference_for_one_mean.nb.html
20-inference_for_paired_data.nb.html
21-inference_for_two_independent_means.nb.html
