02-using_r_markdown.nb.html
03-categorical_data.nb.html
04-numerical_data.nb.html
05-manipulating_data.nb.html
06-correlation.nb.html
07-regression.nb.html
08-intro_to_randomization_1.nb.html
09-intro_to_randomization_2.nb.html
10-hypothesis_testing_with_randomization_1.nb.html
11-hypothesis_testing_with_randomization_2.nb.html
12-confidence_intervals.nb.html
13-normal_models.nb.html
